@model IEnumerable<StripeDemo.Models.ProductEntity>

@{
    ViewData["Title"] = "Products";
}

<h1 class="mb-4 text-center">Available Products</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="@item.Product" style="height:200px; object-fit:cover;" />
                <div class="card-body text-center">
                    <h5 class="card-title">@item.Product</h5>
                    <p class="card-text text-muted">
                        Price: <strong>@String.Format("{0:C}", item.Rate)</strong><br />
                        Stock: @item.Quantity
                    </p>
                   
                </div>
            </div>
        </div>
    }
    <a asp-action="CheckOut" asp-controller="CheckOut">checkout</a>
</div>
